<table class="table table-bordered table-hover table-light table-sm" style="background-color:plum;width:100%; border:1px solid #000; text-align: center;">
  <thead class="thead-dark" style="background:#003366; color:#fff;  padding:.5rem; text-align: center; font-size: 20px;">
    <tr>
      <th scope="col">Stream index</th>
      <th scope="col">Stream value</th>
    </tr>
  </thead>
  <tbody style="color: #000;font-size: 17px;">
     {% for tcp_stream in tcp_streams %}
    {% include 'componentstcp_stream_packet.html' %}
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page > 0 %}
      <li class="page-item">
          <a class="page-link" href="{{ url_for('tcp', page=page-1) }}" tabindex="-1" aria-disabled="true">Previous</a></li>

      <li class="page-item"><a class="page-link" href="{{  url_for('tcp_stream', page=page) }}">1</a></li>
      <li class="page-item"><a class="page-link" href="{{  url_for('tcp_stream', page=2) }}">2</a></li>
      <li class="page-item"><a class="page-link" href="{{  url_for('tcp_stream', page=3) }}">3</a></li>
      <li class="page-item"><a class="page-link" href="{{  url_for('tcp_stream', page=4) }}">4</a></li>
      <li class="page-item"><a class="page-link" href="{{  url_for('tcp_stream', page=5) }}">5</a></li>
      <li class="page-item"><a class="page-link" href="{{  url_for('tcp_stream', page=6) }}">6</a></li>
      {% endif %}

      <li class="page-item">
        <a class="page-link"  href="{{ url_for('tcp', page=page+1) }}" >Next</a></li>
    </ul>
  </nav>

